* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

body {
  font-size: 1em;
  font-family: "Work Sans", serif;
  background-color: hsl(275, 100%, 97%);
}

#background-box {
  max-width: 100%;
  height: 36vh;
  background: url(./assets/assets/images/background-pattern-mobile.svg) no-repeat;
}

button {
  border: none;
  background-color: transparent;
}

#card-container {
  position: relative;
  top: -12em;
  border-radius: 7px;
  background-color: var(--White);
  width: 330px;
  margin: 0 auto;
  padding: 2em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

#card--title {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

#card--title h1 {
  font-size: 2.3em;
}

#card--title img {
  width: 20px;
  margin-right: 1em;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
  cursor: pointer;
}

.row-1 {
  display: flex;
}

.purple {
  width: 200px;
  color: var(--Dark-purple);
}



.accordion:after {
  display: block;
  content: '';
  position: relative;
  top: 1px;
  width: 100%;
  height: .5px;
  background: var(--Light-pink);
}

.accordion-content {
  display: none;
}

.accordion-content.active {
  display: inline-block;
  padding-bottom: 1.4em;
}

.purple.active {
  color: #9431cc;
}

.content-txt {
  color: #b9b4ba;
}

@media (min-width: 400px) {
  #background-box {
    height: 40vh;
    background: url(./assets/assets/images/background-pattern-desktop.svg) no-repeat;
  }
}

@media (min-width: 700px) {
  #card-container {
    width: 500px;
    top: -10em;
    margin: 0 auto;
    padding: 3em;
    border-radius: 10px;
  }

  #card--title h1 {
    font-size: 3em;
  }

  #card--title img {
    width: 35px;
    margin-right: 1.3em;
  }

  .purple {
    width: 400px;
    color: var(--Dark-purple);
  }

}


@media (min-width: 1440px) {
  #card-container {
    transform: scale(1.1);
    top: -12em;
  }


}